{% extends 'front/bases/bases_header.html' %}


<!-- tittle inicio -->
{% block title %}
	 GPS UPGCH
{% endblock %} 
<!-- tittle fin -->



<!-- scripts inicio -->
{% block scripts %}
	{#Aqui colocaremos los scripts#}
{% endblock %}
<!-- content inicio -->

{% block content %}		
		<!-- begin #content -->
		<div id="content" class="content content-full-width">
			<!-- begin breadcrumb -->
			<!--<ol class="breadcrumb pull-right">
				<li><a href="javascript:;">Home</a></li>
				<li><a href="javascript:;">Map</a></li>
				<li class="active">Google Map</li>
			</ol>-->
			<!-- end breadcrumb -->
			<!-- begin page-header -->
			<!--<h1 class="page-header">Google Map <small>header small text goes here...</small></h1>-->
			<!-- end page-header -->
			
            <!--<div class="map-content">
                <div class="btn-group map-btn pull-right">
                    <button type="button" class="btn btn-sm btn-inverse" id="map-theme-text">Default Theme</button>
                    <button type="button" class="btn btn-sm btn-inverse dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" id="map-theme-selection">
                        <li class="active"><a href="javascript:;" data-map-theme="default">Default</a></li>
                        <li><a href="javascript:;" data-map-theme="flat">Flat</a></li>
                        <li><a href="javascript:;" data-map-theme="turquoise-water">Turquoise Water</a></li>
                        <li><a href="javascript:;" data-map-theme="icy-blue">Icy Blue</a></li>
                        <li><a href="javascript:;" data-map-theme="cobalt">Cobalt</a></li>
                        <li><a href="javascript:;" data-map-theme="old-dry-mud">Old Dry Mud</a></li>
                        <li><a href="javascript:;" data-map-theme="dark-red">Dark Red</a></li>
                    </ul>
                </div>
            </div>-->
			<div class="map" id="mapa">
               
            </div>
		</div>
		<!-- end #content -->

		        <!-- begin theme-panel -->
				<div class="theme-panel">
					<a href="javascript:;" data-click="theme-panel-expand" class="theme-collapse-btn"><i class="fa fa-cog"></i></a>
					<div class="theme-panel-content">
						<h5 class="m-t-0">Herramientas</h5>
						<ul class="theme-list clearfix">
							<!--<li class="active"><a href="javascript:;" class="bg-cyan" data-theme="default" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Default/Cyan">&nbsp;</a></li>
							<li><a href="javascript:;" class="bg-blue" data-theme="blue" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Blue">&nbsp;</a></li>
							<li><a href="javascript:;" class="bg-purple" data-theme="purple" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Purple">&nbsp;</a></li>
							<li><a href="javascript:;" class="bg-orange" data-theme="orange" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Orange">&nbsp;</a></li>
							<li><a href="javascript:;" class="bg-red" data-theme="red" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Red">&nbsp;</a></li>
							<li><a href="javascript:;" class="bg-black" data-theme="black" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Black">&nbsp;</a></li>-->
						</ul>
						<div class="divider"></div>
						<div class="row m-t-10">
							<div class="col-md-12">
								<a href="#modal-dialog" class="btn btn-primary btn-sm m-r-5" data-toggle="modal">
									<i class="fa fa-car"></i>
									Ver rutas de vehiculo
								</a>
							</div>														
						<!--<div class="col-md-5 control-label double-line">Header Styling</div>
							<div class="col-md-7">
								<select name="header-styling" class="form-control input-sm">
									<option value="1">default</option>
									<option value="2">inverse</option>
								</select>
							</div>-->
						</div>
						<div class="row m-t-10">
								<div class="col-md-12">
										<a href="javascript:lista_usuarios();" class="btn btn-danger btn-sm m-r-5" >
											<i class="fa fa-car"></i>
											Vehiculos activos hoy
										</a>
									</div>
							<!--<div class="col-md-5 control-label">Header</div>
							<div class="col-md-7">
								<select name="header-fixed" class="form-control input-sm">
									<option value="1">fixed</option>
									<option value="2">default</option>
								</select>
							</div>-->
						</div>
						<div class="row m-t-10">
								
									<div class="col-md-12">
											<a href="javascript:lista_conductores();" class="btn btn-warning btn-sm m-r-5" >
												<i class="fa fa-car"></i>
												Lista de conductores
											</a>
										</div>
							<!--<div class="col-md-5 control-label double-line">Sidebar Styling</div>
							<div class="col-md-7">
								<select name="sidebar-styling" class="form-control input-sm">
									<option value="1">default</option>
									<option value="2">grid</option>
								</select>
							</div>-->
						</div>
						<div class="row m-t-10">
							<!--<div class="col-md-5 control-label">Sidebar</div>
							<div class="col-md-7">
								<select name="sidebar-fixed" class="form-control input-sm">
									<option value="1">fixed</option>
									<option value="2">default</option>
								</select>
							</div>-->
						</div>
						<div class="row m-t-10">
							<!--<div class="col-md-5 control-label double-line">Sidebar Gradient</div>
							<div class="col-md-7">
								<select name="content-gradient" class="form-control input-sm">
									<option value="1">disabled</option>
									<option value="2">enabled</option>
								</select>
							</div>-->
						</div>
						<div class="row m-t-10">
							<!--<div class="col-md-12">
								<a href="#" class="btn btn-inverse btn-block btn-sm" data-click="reset-local-storage"><i class="fa fa-refresh m-r-3"></i> Reset Local Storage</a>
							</div>-->
						</div>
					</div>
				</div>
				<!-- end theme-panel -->
		
		<!-- begin scroll to top btn -->
		<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
		<!-- end scroll to top btn -->
		<div class="modal fade in" id="modal-dialog" >
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h4 class="modal-title" style="text-align: center;" >Rutas Por Fechas</h4>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<div class="col-md-5">
								<div class="input-group date" id="datetimepicker1">
									<input type="text" class="form-control" id="dateStarth">
									<span class="input-group-addon">
										<span class="glyphicon glyphicon-calendar"></span>
									</span>
								</div>
							</div>
							<div class="col-md-2">
								<span class="input-group-addon">Hasta</span>
							</div>
							<div class="col-md-5">
								<div class="input-group date" id="datetimepicker2">
									<input type="text" class="form-control" id="dateEndh">
									<span class="input-group-addon">
										<span class="glyphicon glyphicon-calendar"></span>
									</span>
								</div>
							</div>
						</div>
						<br>
					</div>
					<div class="modal-footer"> 
						<a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal">Cerrar</a>
						<a href="javascript:trazaRuta();" class="btn btn-sm btn-success">Aceptar</a>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade in" id="modal-dialog1">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header" >
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h4 class="modal-title" style="text-align: center; font-size:38px" >Vehiculos activos</h4>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<div class="col-md-10">
								<div class="input-group date" id="datetimepicker3">
									<input type="text" class="form-control" id="dateSearch" placeholder="Buscar por fechas" style="text-align: center;">
									<span class="input-group-addon">
										<span class="glyphicon glyphicon-calendar"></span>
									</span>
								</div>
							</div>
							<div class="col-md-2">
								<a href="javascript:date_busca();" class="btn btn-warning btn-icon btn-circle btn-lg"><i class="fa fa-search"></i></a>
							</div>
						</div>
						<br>
						<br>
						<!-- begin panel -->
						<div class="panel panel-inverse">
							<div class="panel-body">
								<div id="rtabla">
										{% include 'front/bases/includ/list_usuarios.html' %}
								</div>
							</div>
						</div>
						<br>
					</div>
					<div class="modal-footer"> 
						<a href="javascript:;" class="btn btn-sm btn-success" data-dismiss="modal">Cerrar</a>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade in" id="modal-dialog2">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header" >
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h4 class="modal-title" style="text-align: center; font-size:38px" >Lista de Conductores</h4>
					</div>
					<div class="modal-body">
						<div class="panel panel-inverse">
							<div class="panel-body">
								<div id="rtabla1">
										{% include 'front/bases/includ/list_conductores.html' %}
								</div>
							</div>
						</div>
						<br>
					</div>
					<div class="modal-footer"> 
						<a href="javascript:;" class="btn btn-sm btn-success" data-dismiss="modal">Cerrar</a>
					</div>
				</div>
			</div>
		</div>

{% endblock %}
<!-- content fin -->

<!-- footer inicio -->
{% block footer %}
	{#Aqui colocaremos los footer#}
	{% include "front/bases/bases_footer.html" %}
{% endblock %}
<!-- footer fin -->