{% extends 'front/bases/bases_header.html' %}


<!-- tittle inicio -->
{% block title %}
	 GPS UPGCH
{% endblock %} 
<!-- tittle fin -->



<!-- scripts inicio -->
{% block scripts %}
	{#Aqui colocaremos los scripts#}
{% endblock %}
<!-- content inicio -->

{% block content %}			
		<!-- begin #content -->
		<div id="content" class="content">
			<!-- begin breadcrumb -->
			<ol class="breadcrumb pull-right">
				<!--<li><a href="javascript:;">Home</a></li>
				<li class="active">Dashboard</li>-->
			</ol>
			<!-- end breadcrumb -->
			<!-- begin page-header -->
			<h1 class="page-header">Apertura de puertas <small></small></h1>
			<!-- end page-header -->
			
			<!-- begin row -->
			<div class="row">
                {% for esp in espregister %}       
                    <!-- begin col-3 -->
                    <div class="col-md-3 col-sm-6">
                        <div class="widget widget-stats bg-pink">
                            <div class="stats-icon"><i class="material-icons">Apertura de puerta</i></div>
                            <div class="stats-info">
                                <h4>{{ esp.cmp_name }}</h4>
                                <p>CERRADURA</p>
                            </div>
                            <div class="stats-link">
                                <a href="javascript:open({{esp.id_esp}});"> Abrir <i class="fa fa-arrow-circle-o-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- end col-3 -->
                {% endfor %}
			</div>
			<!-- end row -->
		</div>
		<!-- end #content -->
		
		<!-- begin scroll to top btn -->
		<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
		<!-- end scroll to top btn -->
{% endblock %}
<!-- content fin -->

<!-- footer inicio -->
{% block footer %}
	{#Aqui colocaremos los footer#}
	{% include "front/bases/bases_footer_esp.html" %}
{% endblock %}
<!-- footer fin -->